.leaflet-container {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.leaflet-popup-content {
    margin:0;
}
.leaflet-popup-content .SensorPane {
    width: 230px;
    border:none;
    box-shadow:none;
    font-size:11px;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border:1px solid #ccc;
    border-radius:0;
}

.leaflet-bar a, .leaflet-bar a:hover {
    color:#999;
}

.sensor-marker {
    box-sizing: border-box;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(255,255,255,0.3);
}

.sensor-marker-cluster {
    border-radius:30px;
    border-width: 5px;
    border-style: solid;
    display:flex;
    justify-content: center;
    align-items: center;
    border-color: rgba(255,255,255,0.3);
    color:rgba(255,255,255,0.6);
}

.sensor-group-wios {
    border-radius: 25% !important;
}

.leaflet-popup-content-wrapper {
    border-radius:3px;
}

.leaflet-container .leaflet-control-attribution {
    opacity:0.5
}