body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,body {
  width:100%;
  height:100%
}


#root {
  position: relative;
  height:100%;
  width:100%;
}

.gradient {
  background: linear-gradient(to bottom, rgba(117,7,8,1) 0%,
  rgba(191,0,0,1) 11%,
  rgba(234,50,9,1) 22%,
  rgba(247,115,79,1) 33%,
  rgba(255,154,86,1) 44%,
  rgba(245,198,96,1) 55%,
  rgba(216,216,31,1) 66%,
  rgb(136, 177, 66) 77%,
  rgb(127, 196, 49) 88%,
  rgb(156, 236, 102) 100%);
}

.level-undef {
  background-color:rgb(150,150,150);
}

.level-0 {
  background-color:rgb(156, 236, 102);
}

.level-1 {
  background-color:rgb(127, 196, 49);
}

.level-2 {
  background-color:rgb(136, 177, 66);
}

.level-3 {
  background-color:rgba(216,216,31,1);
}

.level-4 {
  background-color:rgb(238, 190, 88);
}

.level-5 {
  background-color:rgba(255,154,86,1);
}

.level-6 {
  background-color:rgba(247,115,79,1);
}

.level-7 {
  background-color:rgba(234,50,9,1);
}

.level-8 {
  background-color:rgba(191,0,0,1);
}

.level-9 {
  background-color:rgb(109, 7, 9);
}